{% extends 'base.html.twig' %}

{% block title %}Hello VerificationController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Icons</h1>

    {% if icons|length <=  0  %}
        <p>No icon have been created. Use symfony console app:make:icon <em>--help</em> to get help.</p>
    {% else %}
        <ul>
        {% for icon in icons %}
            <li><img src="{{ asset('output/' ~ icon) }}" class="block" /> {{ icon }}</li>
        {% endfor%}
        </ul>
    {% endif %}
</div>
{% endblock %}
